body {
    background-image: url("fondo2.jpg");
    background: #7bbdal;
    font-family: cursive;
    font-size: 22px;
    margin: 0;
}
body {
	color: black;
	background: #7bbdal;
	font-family: cursive;
	font-size: 22px;
	margin: 0px;
}
#cabecera{
	background-image: url("bod.jpg");
}
#cabecera h1{
	color: white;
	font-size: 50px;
	text-align: center;
	padding: 20px;
	margin: 0px;
}
nav{
	background-color: #EC9AB0;
}
nav ul{
	list-style: none;
	padding: 10px;
	text-align: center;
	margin: 0px;
}
nav ul li{
	display: inline;
}
nav ul li a{
	color: black;
	font-size: 28px;
	text-decoration: none;
	padding: 8px 10px;
	display: inline-block;
}
nav ul li a:hover{
	background-color: white;
	color: black;
}
#cont-img{
	background-image: url("XD.png");
	height: 400px;
	background-position: center;
	margin-bottom: 30px;
}
#cont-img .imagen h1{
	color: black;
	text-align: center;
	font-size: 50px;
	padding-top: 25px;
	margin: 0px;
}
.contenedor{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
#cont-principal{
	background-color: #EC9AB0;
	float: left;
	width: 90%;
	box-sizing: border-box;
	padding: 0px 30px;
	color:#3A3B3C;
}
.barra{
	float: right;
	width: 30%;
	background-color: deepskyblue;
	color: black;
	padding: 10px;
	box-sizing: border-box;
}
#final{
	background-color: #ECC1DF;
	color: black;
	text-align: center;
	font-size: 18px;
	padding: 5px;
	margin-top: 30px;
}
@media(max-width:650px)
{
	#cont-principal{
		width: 100%;
		float: none;
	}
	.barra{
		width: 100%;
		float: none;
	}
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
